################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Glory.BookStore/.vs/Glory.BookStore/v16
/Glory.BookStore/Glory.BookStore/obj
