@{ 
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index page</title>

    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>

<body class="container">
    <img src="~/images/logo_ecoleville.png" class="logo" alt="logo" />
    <input type="button" name="btnAdd" value="Save" class="btn btn-success" />
   
    <h1 class="h1">Welcome to home page</h1>

</body>

</html>